.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 40px;
    max-width: 600px;
}

.form__form-title {
    margin: 0;
    color: #34374C;
}

.form__form-ctrl {
    margin: 10px 10px 10px 0;
    outline: none;
    border: 2px solid #2C2E3E;
    padding: 10px;
    border-radius: 2px;
}

.form__form-input {
    max-width: 600px;
    font-size: 14px;
}

.form__form-textarea {
    max-width: 600px;
    resize: none;
    font-size: 14px;
}

.form__btn {
    width: 250px;
    border: none;
    margin-left: auto;
    display: block;
    margin-right: 10px;
    background-color: #FF6F3C;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 60px;
}

.form__btn:hover,
.form__btn:focus {
    cursor: pointer;
    background-color: #FF9A3C;
}
